@charset "utf-8";


html:not(:target){
font-size:16px;
}




/* reset and setting
-----------------------------------------------*/
*{
margin:0;
padding:0;
}

body{
font-size:12px;
/font-size:75%;
line-height:1.6;
background:#f2f2f2;
color:#333333;
}

body#english{
line-height: 1.5
}

body#english td, body#english th,{
line-height: 1.4
}

h1,h2,h3,h4,h5,h6{
font-size:100%;
font-weight:normal;
}

p{
margin-bottom:12px;
}

table{
margin-bottom:12px;
border-spacing:0;
border-collapse:collapse;
table-layout:fixed;
}

ul{
margin-bottom:12px;
}
ul li{
list-style:none;
line-height:1.4;
}

ol{
margin:0 0 12px 1.5em;
/margin-left:1.8em;
list-style:decimal outside;
}

ul ul,
ul ol,
ol ul,
ol ol,
table ul,
table ol{
margin-bottom:0;
}

dl{
margin-bottom:12px;
}

strong,
em{
font-weight:bold;
font-style:normal;
}

img{
border:0;
vertical-align:bottom; /*150327added*/
}

hr{
display:none;
}

input{
vertical-align:middle;
}

option{
padding:1px 5px;
}

a{
color:#0000ff;
text-decoration:none;
}

a:visited {
color:#800080;
text-decoration:none;
}

a:hover,
a:focus{
text-decoration:underline;
}

/* ========== align ========== */
.alignL{
text-align:left;
}

.alignC{
text-align:center;
}

.alignR{
text-align:right;
}


/* ========== clearfix ========== */
.clearfix{
zoom:1;
}

.clearfix:after{
height:0;
display:block;
clear:both;
visibility:hidden;
content:".";
line-height:0; 
}
